/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/

*{
  box-sizing: border-box;
}

#root{
  width:100%;
  height:150vh;
  padding:0;
  margin:0;
  text-align: center;
}

body{
  background-color:darkslategrey;
  width:100vw;
  height:100%;
  color:white;
  margin: 0;
  padding:0;
}

.everything{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

.header{
  width:100vw;
  height:15vh;
  margin:0;
  padding:0;
  background-color:#222222;
  color:white;
  align-items: center;
  justify-content: space-between;
}

.header>span{
  display: inline-block;
  width:70vw;
  height:90%;
  margin: auto 10px;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
}

.header>button{
  display: inline-block;
  width:20vw;
  height:50%;
  margin: auto 10px;
  justify-content: center;
  align-content: center;

}

.input-box{
  width:100%;
  height:5%;
  display: flex;
  justify-content: space-between;
  padding:0 30px;
}

.input-box>input{
  display:inline-block;
  width:75%;
  height: 90%;
  text-align: left;
  align-self: flex-start;
}

button:hover{
  border: none;
  transform: translateY(-2px);
}

button:focus{
  border: none;
  transform: translateY(-2px);
}

.input-box>button{
  width:20%;
  height:90%;
  text-align: center;
  align-self: flex-end;
  justify-content: center;
  align-content: center;
}

.scroll-container{
  width:90%;
  height:80%;
  margin:30px auto;
  background-color: rgba(36, 31, 69,0.7);
  border-radius: 10px;
  padding:10px;
  overflow-y: scroll;
}

.infinite-scroll-component__outerdiv{
  width:100%;
  height:100%;
}

.message{
  width:95%;
  height:10vh;
  margin: 10px auto;
  background-color: #222222;
  display:block;
  align-content: center;
  justify-content: space-between;
  border-radius: 10px;
}

.the-text{
  display:inline-block;
  width:85%;
  text-align: left;
}

.timestamp{
  display:inline-block;
}